.list-container {
    margin-top: 2rem;
    background-color: var(--ligth-white);
    border-radius: 10px;
    padding: 1rem;

    .list-container__list {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .list-container__list-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .list-container__section {
        width: 50%;
    }

    .list-container__section--full{
        width: 100%;
    }

    .list-container__small {
        color: var(--secondary-text);
    }
    .list-container__pagination {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .list-container__page-btn {
        padding: 0.5rem;
        background-color: var(--secondary-color);
        margin: 0.3rem;
        color: var(--ligth-white);
        opacity: 0.5;
        border: none;
        border-radius: 5px;
        width: 35px;
    }

    .list-container__page-btn--active {
        opacity: 1;
    }
}