:root {
    --primary-color: #3F51B5;
    --dark-primary-color: #303F9F;
    --ligth-primary-color: #C5CAE9;
    --secondary-color: #FF4081;
    --primary-text: #212121;
    --secondary-text: #757575;
}
