@import 'colors';
@import 'font';

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
}

.divider {
    color: var(--divider-color)
}
 